.carousel {
 display: block;
}


.child-view {
    display: inline-block;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0px 6px 8px -4px #ccc;
    margin-bottom: 15px;
    margin-right: 5px;
} 

// .ticket {}
// .ticket__media {}
.ticket__heading {
    padding: 10px;
}