<div class="carousel">
    <div class="carousel__title">
      <app-heading-two [label]="'Latest Videos'"></app-heading-two>
    </div>
    <app-carousel-directive>
      <div *ngFor="let item of items" [id]="item.id">
        <div class="child-view">
          <div class="ticket">
            <div class="ticket__media">
              <app-preview-media [image]="item.thumbnail" [alt]="item.title"></app-preview-media>
            </div>
            <div class="ticket__heading">
              <app-heading-three [label]="item.category"></app-heading-three>
              <app-heading-strap [label]="item.title"></app-heading-strap>
            </div>
          </div>
        </div>
      </div>
    </app-carousel-directive>
  </div>
  