.preview-media {
    display: inline-block;
    overflow: hidden;
}

.preview-media img {
    display: block;
    width: 300px;
    height: 170px;
}

/*  UX
    TODO - vendor prefixes 
*/
.preview-media img:hover {
    transform: scale(1.1);
}

.preview-media img {
    transition: transform .4s;
}
