@font-face {
    font-family: "SourceSansPro_Light";
    src: url("./assets/fonts/SourceSansPro-Light.ttf"); 
}

@font-face {
    font-family: "SourceSansPro_Semibold";
    src: url("./assets/fonts/SourceSansPro-SemiBold.ttf"); 
}

@font-face {
    font-family: "SourceSansPro_SemiboldItalic";
    src: url("./assets/fonts/SourceSansPro-SemiBoldItalic.ttf"); 
}

@font-face {
    font-family: "SourceSansPro_Bold";
    src: url("./assets/fonts/SourceSansPro-Bold.ttf"); 
}

@font-face {
    font-family: "SourceSansPro_Semibold";
    src: url("./assets/fonts/SourceSansPro-SemiBold.ttf"); 
}

* { box-sizing: border-box; }

body {
    font-family: "SourceSansPro_Semibold";
}

h1, h2, h3, h4, strong { 
    font-family: "SourceSansPro_Bold";
}